apiVersion: kustomize.config.k8s.io/v1beta1
kind: Component

namespace: argocd-agent

components:
- ../../components/health-application
- ../../components/health-build
- ../../components/health-imagestream
- ../../components/health-pvc
- ../../components/health-rolloutmanager
- ../../components/health-stackrox
- ../../components/health-subscription

helmCharts:
- name: redhat-argocd-agent
  version: 0.5.4
  repo: https://charts.openshift.io
  namespace: argocd-agent
  releaseName: argocd-agent
  valuesInline:
    fullnameOverride: argocd-agent
  valuesFile: values.yaml

resources:
- ../../base
- agent-redis-networkpolicy.yaml
- application-controller-cluster-admin-role.yaml
- argocd-agent-cluster-admin-role.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/server/enabled
        value: false
      - op: replace
        path: /spec/server/route/enabled
        value: false
    target:
      kind: ArgoCD
