apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: argocd-agent-control-plane
placementBindingDefaults:
  name: argocd-agent-control-plane
policyDefaults:
  complianceType: "mustonlyhave"
  namespace: acm-policies
  remediationAction: enforce
policies:
  - name: argocd-agent-register
    description: Register Argo CD Agents on Control Plane
    manifests:
      - path: manifests/argocd-agent-register
  - name: argocd-agent-cluster-secret
    description: Create Argo CD Agents Cluster Secret on Control Plane
    manifests:
      - path: manifests/argocd-agent-cluster-secret
policySets:
  - name: argocd-agent-control-plane
    description: Argo CD Agent Control Plane Registration
    placement:
      placementName: argocd-agent-control-plane
    generatePolicySetPlacement: true
    policies:
      - argocd-agent-control-plane
      - argocd-agent-register
