apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - patch: |-
      - op: add
        path: /spec/resourceHealthChecks/-
        value:
          group: platform.stackrox.io
          kind: Central
          check: |
            hs = {}
            if obj.status ~= nil and obj.status.conditions ~= nil then
                for i, condition in ipairs(obj.status.conditions) do
                  if condition.status == "True" or condition.reason == "InstallSuccessful" or condition.reason == "UpgradeSuccessful" then
                      hs.status = "Healthy"
                      hs.message = "Install Successful"
                      return hs
                  end
                end
            end
            hs.status = "Progressing"
            hs.message = "Waiting for Central to deploy."
            return hs
    target:
      kind: ArgoCD
  - patch: |-
      - op: add
        path: /spec/resourceHealthChecks/-
        value:
          group: platform.stackrox.io
          kind: SecuredCluster
          check: |
            hs = {}
            if obj.status ~= nil and obj.status.conditions ~= nil then
                for i, condition in ipairs(obj.status.conditions) do
                  if condition.status == "True" or condition.reason == "InstallSuccessful" or condition.reason == "UpgradeSuccessful" then
                      hs.status = "Healthy"
                      hs.message = "Install Successful"
                      return hs
                  end
                end
            end
            hs.status = "Progressing"
            hs.message = "Waiting for SecuredCluster to deploy."
            return hs
    target:
      kind: ArgoCD
