apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: argocd-agent-control-plane
policyDefaults:
  namespace: acm-policies
  remediationAction: enforce
placementBindingDefaults:
  name: argocd-agent-control-plane
policies:
  - name: argocd-agent-control-plane
    configurationPolicyAnnotations:
      policy.open-cluster-management.io/disable-templates: "true"
    manifests:
      - path: manifests/base/
