apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: argocd-agent-control-plane
placementBindingDefaults:
  name: argocd-agent-control-plane
policyDefaults:
  namespace: acm-policies
  remediationAction: enforce
policies:
  - name: argocd-agent-control-plane
    description: Argo CD Agent Control Plane
    configurationPolicyAnnotations:
      policy.open-cluster-management.io/disable-templates: "true"
    manifests:
      - path: manifests/argocd-control-plane/base/
  - name: argocd-agent-register
    description: Register Argo CD Agents on Control Plane
    manifests:
      - path: manifests/argocd-agent-register
policySets:
  - name: argocd-agent-control-plane
    description: Argo CD Agent Control Plane
    placement:
      placementName: argocd-agent-control-plane
    generatePolicySetPlacement: true
    policies:
      - argocd-agent-control-plane
      - argocd-agent-register
