---
object-templates-raw: |
  ## look through all of the managed clusters, and find the onces where argo-agent should be running
  {{- range $mc := (lookup "cluster.open-cluster-management.io/v1" "ManagedCluster" "" "" "argocd-agent").items }}
    {{- $mc_name := $mc.metadata.name }}
    {{- $agent_name := (index $mc.metadata.labels "argocd-agent")}}

  - complianceType: musthave
    objectDefinition:
      kind: Namespace
      apiVersion: v1
      metadata:
        name: argocd-agent-{{ $agent_name }}

  - complianceType: musthave
    objectDefinition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: argocd-agent-{{ $agent_name }}
        namespace: argocd
      spec:
        secretName: argocd-agent-{{ $agent_name }}
        issuerRef:
          name: argocd-agent-ca
          kind: Issuer
        commonName: argocd-agent-{{ $agent_name }}
        subject:
          organizationalUnits:
            - agent.ocplab.com
        dnsNames:
        - {{ $agent_name }}.ocplab.com

  - complianceType: musthave
    objectDefinition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: argocd-principal-{{ $agent_name }}
        namespace: argocd
      spec:
        secretName: argocd-principal-{{ $agent_name }}
        issuerRef:
          name: argocd-agent-ca
          kind: Issuer
        commonName: argocd-agent-{{ $agent_name }}
        subject:
          organizationalUnits:
            - principal.ocplab.com
        dnsNames:
        - {{ $agent_name }}.ocplab.com

  - complianceType: musthave
    objectDefinition:
      apiVersion: argoproj.io/v1alpha1
      kind: AppProject
      metadata:
        name: argocd-agent-{{ $agent_name }}
        namespace: argocd
      spec:
        clusterResourceWhitelist:
        - group: '*'
          kind: '*'
        destinations:
        - namespace: '*'
          server: '*'
        sourceRepos:
        - '*'
        sourceNamespaces:
        - argocd-agent-{{ $agent_name }}

  - complianceType: musthave
    objectDefinition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: argocd-agent-{{ $agent_name }}-cluster
        namespace: argocd
        labels:
          argocd.argoproj.io/secret-type: cluster
          argocd-agent.argoproj-labs.io/agent-name: argocd-agent-{{ $agent_name }}
      stringData:
        name: argocd-agent-{{ $agent_name }}
        server: https://argocd-agent-principal-resource-proxy.argocd.svc.cluster.local:9090?agentName=argocd-agent-{{ $agent_name }}
        config: |
          {
            "tlsClientConfig": {
                "insecure": false,
                "certData": "{{ (fromSecret "argocd" (printf "argocd-principal-%s" $agent_name ) "tls.crt") }}",
                "keyData": "{{ (fromSecret "argocd" (printf "argocd-principal-%s" $agent_name ) "tls.key") }}",
                "caData": "{{ (fromSecret "argocd" (printf "argocd-principal-%s" $agent_name ) "ca.crt") }}"
            }
          }

  {{- end }}
