apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
  - patch: |-
      - op: add
        path: /spec/storage/deviceClasses/0/deviceSelector
        value:
          paths:
            - /dev/nvme0n1p5
    target:
      kind: LVMCluster
