apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - patch: |-
      - op: add
        path: /spec/extraConfig/extension.config.assistant
        value: |
          connectionTimeout: 2s
          keepAlive: 360s
          idleConnectionTimeout: 360s
          maxIdleConnections: 30
          services:
          - url: https://lightspeed-app-server.openshift-lightspeed.svc.cluster.local:8443
            headers:
            - name: Authorization
              value: '$lightspeed.auth.header'
      - op: add
        path: /spec/server/extraCommandArgs
        value:
          - "--enable-proxy-extension"
      - op: add
        path: /spec/server/route/annotations/haproxy.router.openshift.io~1timeout
        value: "360s"
      - op: add
        path: /spec/server/initContainers
        value:
          - env:
              - name: EXTENSION_URL
                value: "https://github.com/argoproj-labs/assistant-for-argocd/releases/download/v0.3.0/extension-assistant-0.3.0.tar"
            image: "quay.io/argoprojlabs/argocd-extension-installer:v0.0.8"
            name: extension-assistant
            securityContext:
              allowPrivilegeEscalation: false
            volumeMounts:
              - name: rollout-extensions
                mountPath: /tmp/extensions/
          - env:
              - name: EXTENSION_URL
                value: "https://github.com/gnunn-gitops/argocd-assistant-settings/releases/download/0.1/assistant-lightspeed-settings-0.1.tar"
            image: "quay.io/argoprojlabs/argocd-extension-installer:v0.0.8"
            name: extension-assistant-settings
            securityContext:
              allowPrivilegeEscalation: false
            volumeMounts:
              - name: rollout-extensions
                mountPath: /tmp/extensions/
      - op: add
        path: /spec/server/volumeMounts/-
        value:
          mountPath: /etc/pki/tls/certs/service-ca.crt
          name: config-service-cabundle
          subPath: service-ca.crt
      - op: add
        path: /spec/server/volumes
        value:
          - configMap:
              name: config-service-cabundle
              defaultMode: 420
            name: config-service-cabundle
          - name: extensions
            emptyDir: {}
    target:
      kind: ArgoCD
