apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
- argocd-issuer-ca-secret.yaml
- argocd-ca-secret.yaml
- argocd-agent-jwt-signing-secret.yaml
- issuer.yaml
- principal-cert.yaml
- resource-proxy.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/argoCDAgent
        value:
          principal:
            namespace:
              allowedNamespaces:
                - "argocd-agent-*"
            enabled: true
            image: quay.io/gnunn/argocd-agent:latest
            jwt:
              secretName: argocd-agent-jwt-signing
            auth: mtls:CN=([^,]+)
      - op: add
        path: /spec/sourceNamespaces
        value:
          - "argocd-agent-*"
      - op: add
        path: /spec/controller/enabled
        value: false
      - op: remove
        path: /spec/resourceExclusions
      - op: replace
        path: /spec/applicationSet/enabled
        value: true
      - op: replace
        path: /spec/applicationSet/webhookServer/route/enabled
        value: true
      - op: add
        path: /spec/applicationSet/extraCommandArgs
        value:
          - "--applicationset-namespaces"
          - "argocd-agent-*"
          - "--enable-scm-providers=false"
    target:
      kind: ArgoCD
