---
object-templates-raw: |
  ## look through all of the managed clusters, and find the onces where argo-agent should be running
  {{- range $mc := (lookup "cluster.open-cluster-management.io/v1" "ManagedCluster" "" "" "argocd-agent").items }}
    {{- $mc_name := $mc.metadata.name }}
    {{- $agent_name := (index $mc.metadata.labels "argocd-agent")}}

  - complianceType: mustonlyhave
    objectDefinition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: argocd-agent-{{ $agent_name }}-cluster
        namespace: argocd
        labels:
          argocd.argoproj.io/secret-type: cluster
          argocd-agent.argoproj-labs.io/agent-name: argocd-agent-{{ $agent_name }}
      stringData:
        name: argocd-agent-{{ $agent_name }}
        server: https://argocd-agent-principal-resource-proxy.argocd.svc.cluster.local:9090?agentName=argocd-agent-{{ $agent_name }}
        config: |
          {
            "tlsClientConfig": {
                "insecure": false,
                "certData": "{{ (fromSecret "argocd" (printf "argocd-principal-%s" $agent_name ) "tls.crt") }}",
                "keyData": "{{ (fromSecret "argocd" (printf "argocd-principal-%s" $agent_name ) "tls.key") }}",
                "caData": "{{ (fromSecret "argocd" (printf "argocd-principal-%s" $agent_name ) "ca.crt") }}"
            }
          }

  {{- end }}
