apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
- github.com/gnunn-gitops/cluster-config-v2/resources/openshift-gitops/overlays/control-plane

# Todo: Investigate using a seperate policy to set DNS based on route host
patches:
  - patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: openshift-gitops-agent-principal-argocd.apps.hub.ocplab.com
      - op: replace
        path: /spec/subject/organizationalUnits/0
        value: ocplab.com
    target:
      kind: Certificate
      name: argocd-agent-principal-tls
  - patch: |-
      - op: replace
        path: /spec/subject/organizationalUnits/0
        value: ocplab.com
    target:
      kind: Certificate
      name: argocd-agent-resource-proxy-tls

