apiVersion: v1
kind: Secret
metadata:
  name: eso-token-cluster
data:
  token: '{{hub (fromSecret "core-secrets" (printf "eso-token-%s" ( index .ManagedClusterLabels "core-secret")) "token") hub}}'
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: cluster
spec:
  provider:
    doppler:
      auth:
        secretRef:
          dopplerToken:
            name: eso-token-cluster
            key: token
            namespace: external-secrets

  conditions:
    - namespaceSelector:
        matchLabels:
          openshift.io/cluster-monitoring: "true"

    - namespaces:
        - "argocd"
        - "cert-manager"
        - "dev-tools"
        - "gitops"
        - "llamastack"
        - "mcp-for-argocd"
        - "openshift-config"
        - "openshift-gitops"
        - "openshift-lightspeed"
        - "openshift-monitoring"
        - "openshift-pipelines"
        - "stackrox"
        - "stackrox-secured-cluster-service"
        - "tenant-secrets"
        - "trusted-profile-analyzer"
