apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
- oidc-external-secret.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/oidcConfig
        value: |
          name: Keycloak
          issuer: https://sso.ocplab.com/realms/ocplab
          clientID: argocd
          clientSecret: $oidc.keycloak.clientSecret
          requestedScopes: ["openid", "profile", "email", "groups"]
    target:
      kind: ArgoCD
  - patch: |-
      - op: remove
        path: /spec/sso
    target:
      kind: ArgoCD

